@import '../../../variables.scss';

.documentation {
  width: 25%;
  position: relative;
  margin-left: -25%;
  color: $blue-dark;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  transition: margin 0.5s;
}

.documentation_showed {
  margin-left: 0;
}

.titleArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  align-items: center;
}

.wrapper {
  flex-grow: 1;
  overflow-y: scroll;
  height: 300px;
  &::-webkit-scrollbar-track {
    padding: 2px 0;
    border-radius: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    border-radius: 3px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $gray;
  }
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.type_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.list_item {
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: $blue;
  }
}

.field {
  margin-bottom: 0.4rem;
}

.field_title {
  display: inline-block;
  margin-bottom: 0.15rem;
  text-decoration: underline;

  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: $blue;
  }
}

.field_type {
  margin-left: 0.3rem;
  padding: 0.1rem;
  border: 1px solid $blue-dark;
  background-color: $blue-light;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.field_title:hover + .field_type {
  color: $blue;
  border-color: $blue;
}

.button {
  cursor: pointer;
  padding: 10px;
  transition: color 0.2s ease;
  color: $gray-dark;

  &:hover {
    color: $blue-dark;
  }
}

.desc {
  margin-top: 1.6rem;
  opacity: 0.7;
  color: black;
}

@media (max-width: 1024px) {
  .documentation {
    width: 100%;
    top: -50%;
    opacity: 0;
    height: 0;
    margin-left: 0;
    pointer-events: none;
  }
  .documentation_showed {
    height: 100%;
    top: 0;
    opacity: 1;
    margin-bottom: 1rem;
    pointer-events: initial;
  }
}
