* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.main {
  flex-grow: 1;
}

body,
button,
input {
  font-family: Jost, 'Segoe UI', sans-serif;
}

textarea {
  outline: none;
}
