//Colors
//background
$gray-light: #f4f6f8;
$blue-dark: #1b2240;
$blue-light: #f0f7ff;

//font
$violet: #7f63f0;
$opal: #3e8e8c;
$blue: #2070cb;
$red: #5e0000;
$pink: #D60590;
$gray: #e8eaed;
$gray-dark: #7d879a;