//Colors
//background
$gray-light: #f4f6f8;
$blue-dark: #1b2240;
$blue-light: #f0f7ff;
$gray-white: #f3f3f4;
$white: #ffffff;

//font
$violet: #7f63f0;
$opal: #3e8e8c;
$blue: #2070cb;
$red: #be0303;
$pink: #D60590;
$gray: #e8eaed;
$gray-dark: #7d879a;
$gray-a: #aaaaaa;
$gray-7: #777777;

//ui
$switch-first: #2196f3;
$gray-bd: #bdbdbd;
$gray-opacity-10: rgba(234,76,137,0.1);
